[submodule "snesrecomp"]
	path = snesrecomp
	url = https://github.com/RetroPortingToolKit/snesrecomp
	branch = main
[submodule "recomp-ui"]
	path = recomp-ui
	url = https://github.com/mstan/recomp-ui.git
	branch = master
[submodule "emulator/Snaggletooth"]
	path = emulator/Snaggletooth
	url = https://github.com/etroimcasso/Snaggletooth
